.headlogo
{
    margin:10px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    font-size: 20px;
    font-weight: bold;
}

.bigtitle
{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(255, 166, 0);
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}

.title
{
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}

.form
{
    background-color: rgb(243, 243, 243);
    margin-top: 100px;
    margin:5px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    text-align: center;
    font-size: 15px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border:1px solid rgb(231, 231, 231);
    border-radius: 15px;
}

.film
{
    display: none;
    background-color: rgb(243, 243, 243);
    margin-top: 100px;
    margin:5px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    text-align: center;
    font-size: 15px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border:1px solid rgb(231, 231, 231);
    border-radius: 15px;
}

.systeminfo
{
    visibility: hidden;
    font-size: 0px;
}

input[type="text"]  
/* Or better yet try giving an ID or class if possible*/
{
    border:1px solid rgb(75, 75, 75);
    border-radius: 5px;
    background: none;
    box-shadow: none;
}

select{
    border:1px solid rgb(75, 75, 75);
    border-radius: 5px;
    background: none;
    box-shadow: none;
    text-align: center;
}

.SearchButton
{
    background-color: #4CAF50;
    padding: 15px 48%;
    border:0px;
    border-radius: 15px;
    box-shadow: none;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}